/*CSS DOCUMENT*/

h1 { /*title*/
    margin: 40px 50px 20px 50px;
    font-family: 'Arapey', serif;
    color:#00B6FF;
    font-size: 6em;
    text-align: center;
}

h2 { /*main menu*/
    font-family: sans-serif;
    text-transform: lowercase;
    font-size: 2em;
    text-align: center;
    color:#17657F;
    margin-bottom: 2em;
}

h3 {/*dish category*/
    font-family: 'Arapey', serif;
    color: #229FB3B;
    text-align: center;
    font-size: 5em;
}

h4 { /*dish name*/
     font-family: 'Arapey', serif;
   padding-left: 4em;
    margin-left: 4em;
}

.description {
    margin:.1em, 10em, .1em, 4em;
    padding-right: 10em;
    color: #386B73;
     font-size: 4em;
}

.price {
    font-style: italic;
    font-size: 4em;
}
