/*sets consistent margin/padding for all type*/
h1, h2, h3, h4, p, ul, ol, li {
margin: 0; 
padding:0; 
font-size: 1em; 
font-weight: normal;
} 

*{
    background-color: #fdfdfd;}

/*sets a max width of the main page*/
.maincontent{
    max-width:60em;
    margin: auto;
}
/*navigation menu lines*/
 nav li {
    font-family:utopia-std,serif;
    display: inline;
     border-right: .1em solid #A2ACD4;
}
/*navigation menu style*/
nav a {
    text-decoration: none;
    box-sizing: border-box;
    color: #A2ACD4;
    padding:0.5em;
    
}
/*navigation menu alignment*/
nav ul{
    float:right;
    margin: 1em 0 1em 0;

}
/*navigation menu hover color*/
nav a:hover{
    color:#32383f;
}

nav li:last-child  {
    border-right: 0;
}
/*title formating*/
h1{
  font-family: utopia-std, serif;
    font-weight: 700;
    font-style: normal;
  font-size:2em;
  font-weight: normal;
    margin: .75em 0 0 2em;
    color:#32383f;
}

/*subhead format*/
h2{
  font-family:utopia-std,serif;
  font-size:1.5em;
  font-weight: bold;
    color:#32383f;
}

/*font authors, captions*/
h3{
  font-family:utopia-std,serif;
  font-size:1em;
    font-style: italic;
    color:#32383f;
}
/*body text*/
p{
  font-family:utopia-std,serif;
  font-size: 1em;
  padding: 0.5em 0em 2em 0em;
    color:#32383f;
}
/*Overview Page*/

/*franklin gothic column formatting*/
.franklin{
    width:60%;
}
/*trade column formatting*/
.trade {
    padding:1em;
    margin:1.5em;
    width:60%;
}

/*Comparison Page*/
/*main text*/
.blurb{
    max-width: 40em;
    margin-left: 8em;
}

/*positioning*/
.overview, .compare, .examples{
    text-align: left;
    max-width: 50%;
    margin-top:.75em;
    margin: auto;
}

.compare h1{
    margin:.75em 0 0 0;
}

.compare img{
    margin: auto;
}

/*Examples Page*/
.gothicexamples {
    width=95%;
}
.frank, .trade{
    width:85%;
    margin-bottom: .5em;
    margin-top: 2em;
}