/*CSS DOCUMENT*/
@import url("https://use.typekit.net/dcc2qvz.css");
@import url("https://use.typekit.net/dcc2qvz.css");

h1{ /*logo*/
    width: 20em;
    font-size: 1em;
    /*float: left;*/
}

nav ul li{
    list-style: none;
    display: inline;
    text-align: center;
    margin-left: 2em;
    letter-spacing: .1em;
     text-transform: uppercase; 
      background-color: greenyellow;
}

nav ul li a{
    text-decoration: none;
    color: skyblue;
    background-color: greenyellow;
}

.navigation {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: greenyellow;
      float: center;
}

li a {
  display: block;
  text-align: center;
  padding: 1em;
    float: left;
}

li a:hover {
  background-color: grey;
}

.store{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.owners {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.menutype { /*menu catagory*/
    background-color: #1E80DC;
    padding: .5em;
    text-align: center;
  font-family: degular, sans-serif;
font-weight: 600;
font-style: normal;
}

.description {
    text-transform: lowercase;
    font-style: italic;
}

.about {
    font-family: degular, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 2em;    
}

.welcome{
    margin: .5em;
    text-align: center;
}

.findus{ 
     font-family: degular, sans-serif;
font-weight: 600;
font-size: 1.5em; 
    margin: .1em
}

h4 {
    font-family: degular, sans-serif;
font-weight: 600;
font-size: 1em; 
    text-align: center;
}

p {
    font-family: degular, sans-serif;
    font-weight: 400;
    font-style: normal;
   margin: .5em;
}